/* بسم الله الرحمن الرحيم */
/* la ilaha illa Allah Mohammed rassoul Allah */

body {
    height: 100vh;
    align-content: center;
}

form {
    width: 20vw;
    padding: 5vw;
    margin: auto;
    border-width: .2rem;
    border-style: solid;

    input, nav {
        width: 15vw;
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }
}

